// import Inter as a font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

// set Inter as a font
$body-font-family: "Inter", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji";

// link colours
$link-color:#40B3D9;

// sidebar colour
$sidebar-color: #E9E9E9;

// body colour
// $body-background-color: #F5F5F5;
$nav-child-link-color: #007099;

// button colour
$body-heading-color: #007099;

// Change button primary colour

$btn-primary-color: #007099;
